.container {
  display: flex;
}

.avatar-container {
  display: flex;
  margin-bottom: 1rem;
}

.avatar {
  width: 100px;
  height: 100px;
  cursor: pointer;
  margin: 0.5rem auto 0 auto;
}

.profile {
  margin: 0 1rem 0 0;
}

.profile-right {
  flex: 3;
}

mat-card {
  position: sticky;
  top: 1rem;
}

.info {
  text-align: center;
}

.card-actions button {
  width: 100%;
  margin: 0.5rem 0 0.5rem 0;
}
