<mat-card>
  <form [formGroup]="form" (ngSubmit)="onFormSubmit()" #formDirective="ngForm">
    <mat-card-title>{{ formTitle }}</mat-card-title>

    <app-input
      *ngIf="formTitle === 'Signup'"
      [control]="form.get('name')"
      label="Name"
    ></app-input>

    <app-input [control]="form.get('email')" label="Email"></app-input>

    <app-input
      [control]="form.get('password')"
      type="password"
      label="Password"
    ></app-input>

    <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>

    <div class="card-actions">
      <button color="primary" mat-raised-button type="submit">
        {{ formTitle }}
      </button>
    </div>

    <pre></pre>
  </form>
</mat-card>
