<mat-divider></mat-divider>
<form
  class="example-form"
  [formGroup]="form"
  (keydown.enter)="onSubmitComment()"
>
  <mat-form-field style="width: 100%; margin-top: 1rem">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput formControlName="comment"></textarea>
  </mat-form-field>
</form>

<div *ngFor="let comment of comments" style="padding: 1rem 0; display: flex">
  <img
    style="display: block; margin-right: 1rem"
    mat-card-avatar
    [src]="comment.avatar"
  />

  <div style="flex: 3">
    <strong>{{ comment.name }}</strong>
    <div>
      {{ comment.content }}
    </div>
  </div>

  <div>
    <app-util-buttons *ngIf="loggedinUser._id === comment.user" [post]="post">
      <button mat-menu-item color="warn" (click)="onDeleteComment(comment._id)">
        Delete
      </button>
    </app-util-buttons>
  </div>
</div>
