<mat-divider></mat-divider>
<form
  class="example-form"
  [formGroup]="form"
  (keydown.enter)="onSubmitComment()"
>
  <app-input
    [control]="form.get('comment')"
    label="Leave a comment"
  ></app-input>
</form>

<div *ngFor="let comment of comments" style="padding: 1rem 0; display: flex">
  <img
    style="display: block; margin-right: 1rem"
    mat-card-avatar
    [src]="loggedinUser.avatar"
  />

  <div style="flex: 3">
    <strong>{{ loggedinUser.name }}</strong>
    <div>
      {{ comment.content }}
    </div>
  </div>

  <div>
    <app-util-buttons *ngIf="loggedinUser._id === comment.user" [post]="post">
      <button mat-menu-item color="warn" (click)="onDeleteComment(comment._id)">
        Delete
      </button>
    </app-util-buttons>
  </div>
</div>
