.container {
  margin: 1rem 0 1rem 0;
}

mat-card-header button {
  margin-left: auto;
}

.image-container {
  padding: 10px;
  height: 300px;
}

.image-container img {
  object-fit: cover;
  height: 100%;
}
