<h2 mat-dialog-title>Change Password</h2>
<form [formGroup]="form" (ngSubmit)="onEditFormClick()">
  <mat-dialog-content>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Current Password</mat-label>
        <input matInput formControlName="currentPassword" />
        <mat-error *ngIf="form.get('currentPassword').invalid">
          <ng-container
            *ngIf="form.get('currentPassword').getError('required')"
          >
            Current password is required
          </ng-container>
          <ng-container
            *ngIf="form.get('currentPassword').getError('invalidPassword')"
          >
            Incorrect password
          </ng-container>
        </mat-error>
        <mat-hint *ngIf="form.get('currentPassword').pending">
          Validating
        </mat-hint>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>New Password</mat-label>
        <input matInput formControlName="newPassword" />
        <mat-error *ngIf="form.get('newPassword').getError('required')">
          New password is required.
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Confrim new password</mat-label>
        <input matInput formControlName="confirmedNewPassword" />
        <mat-error
          *ngIf="form.get('confirmedNewPassword').getError('required')"
        >
          Confirmed new password is required.
        </mat-error>
      </mat-form-field>
    </div>

    <div *ngIf="form.invalid">
      <mat-error *ngIf="form.hasError('passwordNotMatch')">
        Password Not Match
      </mat-error>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button (click)="close()" type="button" class="mat-raised-button">
      Close
    </button>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="form.invalid || form.pending"
    >
      Change
    </button>
  </mat-dialog-actions>
</form>
